python-dotenv
streamlit
langchain-community
langchain-chroma
langchain-core
langchain-text-splitters
langchain-embeddings
langchain-community.llms
sentence-transformers  # For the SentenceTransformerEmbeddings
